#main-container{
    padding-top: 70px;
}

.table,
.table td,
.table th{
    border: 1px solid #e7e7e7;
}



/* makePlan Begin */

/* makePlan End */


/* makeMealList Begin */
#meal-list{

}
#meal-list .meal-type-desc{

}
#meal-list .meal-type-desc>.meal-type-name{
    font-size: 1.4em;
    font-weight: bold;
    padding: 0px 0px 0px 10px;
}
#meal-list .meal-type-desc>.add-food{
    padding: 4px 8px;
    margin:0px auto 8px auto;
}
#meal-list .meal-type-desc>.need-nutrition-list{
    padding: 0px;
    list-style: none;
}

#meal-list .food-list-container{

}
#meal-list .food-list{
    padding: 0px;
    margin: 0px;
}
#meal-list .food-list>.food-item{
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 10px;
}
#meal-list .food-list>.food-item>.food-desc{
    position: relative;
}
#meal-list .food-list>.food-item>.food-desc>.food-name{
    float: left;
    width: 80px;
    line-height: 34px;
    text-align: center;
}
#meal-list .food-list>.food-item>.food-desc>.remove-btn{
    position: absolute;
    top: 36px;
    left: 30px;
    color: #aaa;
    cursor: pointer;
}
#meal-list .food-list>.food-item>.food-desc>.remove-btn:hover{
    color: #666;
}
#meal-list .food-list>.food-item>.food-desc>.amount-container{
    margin: 0px 0px 0px 90px;
}
#meal-list .food-list>.food-item>.food-desc>.amount-container>.food-amount{
    margin: 0px 0px 10px 0px;
}
#meal-list .food-list>.food-item>.nutrition-desc-list{

}
#meal-list .food-list>.food-item>.nutrition-desc-list>.nutrition-desc{
    display: inline-block;
    padding: 0px 0px 0px 60px;
    margin: 0px 10px 10px 0px;

}
#meal-list .food-list>.food-item>.nutrition-desc-list>.nutrition-desc>.header{

}
#meal-list .food-list>.food-item>.nutrition-desc-list>.nutrition-desc>.body{

}
#meal-list .food-list>.food-item>.nutrition-desc-list>.nutrition-desc>.body>.data{

}
#meal-list .food-list>.food-item>.nutrition-desc-list>.nutrition-desc>.body>.unit{

}
/* makeMealList End */